/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

main {
    padding: 0 50px;
}

/*
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
*/

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.logo-header {
    padding: 30px 50px; 
    margin: 0;
}

.img-logo {
    width: 3.813rem;
}

nav {
    padding: 0px 50px;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

nav li {
    list-style-type: none;
    font-family: Raleway;
    font-size: 16px;
}

nav a {
    display: block;
    padding: 14px 0 0 0;
    border-top: 1px transparent solid;
}
nav a:hover {
    color: #0065FC;
    border-color: #0065FC;
}

.hebergements-link {
    margin-right: 68px;
}


/****** Presentation ***********/

.presentation {
    padding-bottom: 35px;
}

.headline {
    margin-bottom: 35px;
}

.headline h1 {
    margin: 0;
    font-size: 1.37rem;
    font-weight: 700;
}

.headline p {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 400;
}

form {
    display: flex;
    width: 25.6rem; 
    margin-bottom: 35px;
}

fieldset {
    display: flex;
    padding: 0;
    border: #F2F2F2;
}

.picto-localisation {
    width: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

form img {
    width: 1.1rem;
    height: 1rem;
}

.city {
    text-align: center;
    font-size: 1.12rem;
    font-weight: 700; 
    border: 1px solid #F2F2F2; 
    color: black;
}

.fa-magnifying-glass {
    display: none;
}

::placeholder {
    color: black;
}

input[type=text]::placeholder {
    opacity: 1;
}

input[type=text]:focus {
    outline: 0;
}

label {
    padding: 15px 16px;
    font-size: 1.12rem;
    font-weight: 700;
    color: white;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
}

.filter-bar {
    display: flex;
    margin-bottom: 35px;
}

.filters {
    display: flex;
}

.filter-bar h2 {
    margin: 0;
    font-size: 1.12rem;
    font-weight: 700; 
}

.filter-title {
    display: flex;
    align-items: center;
}

.filter {
    width: 7.81rem;
    display: flex;
    align-items: center;
    padding: 10px 19px;   
    margin-left: 15px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filter:hover {
    background-color: #DEEBFF;;
}

.picto-filter {
    padding-right: 10px;
}

.filter-bar p {
    margin: 0;
    font-size: 1rem;
    font-weight: 700; 
}

.filter figure {
    margin: 0;
}

.foot-presentation {
    display: flex;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #D9D9D9;
    border-radius: 13px;
}

.foot-presentation p {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/*
##     ## ######## ########  ######## ########   ######   ######## ##     ## ######## ##    ## ########  ###### 
##     ## ##       ##     ## ##       ##     ## ##    ##  ##       ###   ### ##       ###   ##    ##    ##    ##
##     ## ##       ##     ## ##       ##     ## ##        ##       #### #### ##       ####  ##    ##    ##      
######### ######   ########  ######   ########  ##   #### ######   ## ### ## ######   ## ## ##    ##     ###### 
##     ## ##       ##     ## ##       ##   ##   ##    ##  ##       ##     ## ##       ##  ####    ##          ##
##     ## ##       ##     ## ##       ##    ##  ##    ##  ##       ##     ## ##       ##   ###    ##    ##    ##
##     ## ######## ########  ######## ##     ##  ######   ######## ##     ## ######## ##    ##    ##     ######

  ###    ##    ## ######## 
  ## ##   ###   ## ##     ##
 ##   ##  ####  ## ##     ##
##     ## ## ## ## ##     ##
######### ##  #### ##     ##
##     ## ##   ### ##     ##
##     ## ##    ## ######## 

########   #######  ########  ##     ## ##          ###    #### ########  ########  ###### 
##     ## ##     ## ##     ## ##     ## ##         ## ##    ##  ##     ## ##       ##    ##
##     ## ##     ## ##     ## ##     ## ##        ##   ##   ##  ##     ## ##       ##      
########  ##     ## ########  ##     ## ##       ##     ##  ##  ########  ######    ###### 
##        ##     ## ##        ##     ## ##       #########  ##  ##   ##   ##             ##
##        ##     ## ##        ##     ## ##       ##     ##  ##  ##    ##  ##       ##    ##
##         #######  ##         #######  ######## ##     ## #### ##     ## ########  ###### */

.marseille-and-populaires {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

article h3 {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*
##     ## ######## ########  ######## ########   ######   ######## ##     ## ######## ##    ## ########  ###### 
##     ## ##       ##     ## ##       ##     ## ##    ##  ##       ###   ### ##       ###   ##    ##    ##    ##
##     ## ##       ##     ## ##       ##     ## ##        ##       #### #### ##       ####  ##    ##    ##      
######### ######   ########  ######   ########  ##   #### ######   ## ### ## ######   ## ## ##    ##     ###### 
##     ## ##       ##     ## ##       ##   ##   ##    ##  ##       ##     ## ##       ##  ####    ##          ##
##     ## ##       ##     ## ##       ##    ##  ##    ##  ##       ##     ## ##       ##   ###    ##    ##    ##
##     ## ######## ########  ######## ##     ##  ######   ######## ##     ## ######## ##    ##    ##     ######*/

.marseille {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    margin-right: 40px;
    box-sizing: border-box;
}

.marseille h2 {
    font-weight: 700;
    font-size: 1.375rem;
}

.marseille-title {
    padding-bottom: 30px;
}

.marseille-cards {
    display: flex;
    flex-wrap: wrap;
}

.marseille-cards a {
    padding-bottom: 30px;
}

.marseille-card {
    width: 15.625rem; 
    height: 13rem;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.middle-marseille-card {
    margin: 0 30px;
}

.marseille-card img {
    width: 15rem;
    height: 7.125rem;
    padding: 5px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.marseille-card-content {
    margin: 0 15px 15px 15px;
}

.marseille-card-text {
    padding-top: 4px;
}

.marseille-card-title {
    padding-bottom: 8px;
    font-size: 1rem;
}

.marseille-card-subtitle {
    padding-bottom: 8px;
    font-size: 0.875rem;
}

.affichez-plus {
    font-size: 1.12rem;
    font-weight: 700;
}

/*
########   #######  ########  ##     ## ##          ###    #### ########  ########  ###### 
##     ## ##     ## ##     ## ##     ## ##         ## ##    ##  ##     ## ##       ##    ##
##     ## ##     ## ##     ## ##     ## ##        ##   ##   ##  ##     ## ##       ##      
########  ##     ## ########  ##     ## ##       ##     ##  ##  ########  ######    ###### 
##        ##     ## ##        ##     ## ##       #########  ##  ##   ##   ##             ##
##        ##     ## ##        ##     ## ##       ##     ##  ##  ##    ##  ##       ##    ##
##         #######  ##         #######  ######## ##     ## #### ##     ## ########  ######*/


.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires h2 {
    font-weight: 700;
    font-size: 1.375rem;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 8.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-title {
    font-size: 1rem;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.card-subtitle {
    font-size: 0.875rem;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*
   ###     ######  ######## #### ##     ## #### ######## #### ########  ###### 
  ## ##   ##    ##    ##     ##  ##     ##  ##     ##     ##  ##       ##    ##
 ##   ##  ##          ##     ##  ##     ##  ##     ##     ##  ##       ##      
##     ## ##          ##     ##  ##     ##  ##     ##     ##  ######    ###### 
######### ##          ##     ##   ##   ##   ##     ##     ##  ##             ##
##     ## ##    ##    ##     ##    ## ##    ##     ##     ##  ##       ##    ##
##     ##  ######     ##    ####    ###    ####    ##    #### ########  ######  */

.activities {
    margin: 35px 0px;
    padding: 30px;
}


.activities-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between
}

.activities-card {
    width: 18.59rem;
    height: 27.43rem;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activities-title {
    font-size: 1.375rem;
}

.activities-card-title {
    margin: 20px 19px;
}

.activities img {
    width: 18.59rem;
    height: 23.75rem;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*
########  #######   #######  ######## ######## ######## 
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ######## 
##       ##     ## ##     ##    ##    ##       ##   ##  
##       ##     ## ##     ##    ##    ##       ##    ## 
##        #######   #######     ##    ######## ##     ## */

.footer-text {
    width: 83.75rem;
    height: 10.1rem;
    display: flex;
    margin: 0 50px;
    background: var(--Grey, #F2F2F2);
}

.footer-column {
    width: 25.4rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer h2 {
    font-size: 1.12rem;
    font-weight: 700;
}

footer li {
    margin-top: 15px;
}

.footer-line {
    height: 3.6rem;
    background: var(--Grey, #F2F2F2);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /***Main***/

    /***Marseille***/
  
    .marseille-and-populaires {
        flex-direction: column;
    }

    .marseille {
        width: 93.6%;
        margin-right: 0;
        box-sizing: content-box;
    }

    .marseille-card {
    width: 16.75rem; 
    height: 12.95rem;
    }

    .marseille-card img {
    width: 16.125rem;
    height: 7.125rem;
    }

    /***Populaire***/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    /***Activities***/

    .activities-card {
        width: 24%;
        height: 16.875rem;
    }

    .activities img {
        width: 100%;
        height: 12.5rem;
    }

    .pomegues {
        margin: 0 30px;
    }

    .calanques {
        margin-right: 30px;
    }

/***Footer***/
    .footer-text {
       width: 90%;
    }

    .footer-line {
        height: 0;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

/***Main***/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***Header***/

header {
    flex-direction: column;
    width: 100%;
}

.logo-header {
    width: 3.81rem;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-self: center;
}

nav {
    padding: 0;
}

nav a {
    padding: 0 0 15px 0;
    border-top: 1px transparent solid;
}

nav a:hover {
    color: #0065FC;
    border-color: transparent;
}

nav li {
    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom: 2px transparent solid;
}

nav li:hover {
    border-bottom: 2px solid #0065FC;
}

.hebergements-link {
  margin-right: 0;
}
    
/***Presentation***/

.presentation {
    padding: 0 20px 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    margin-bottom: 35px;
    width: 20rem;
    display: flex;
    flex-direction: column;
}

form {
    width: 20.93rem;
}

fieldset {
    border: 1px solid #F2F2F2; 
    border-radius: 15px;
}

.city {
    border: 1px solid white;
}

label {
    display: none;
}

.fa-magnifying-glass {
    display: block;
    color: white;
    padding: 15px 16px;;
    border-radius: 15px;
    border: 1px solid #0065FC;
    background:#0065FC;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.filter-bar {
  flex-direction: column;
}

.filters {
    width: 21.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter {
    margin-top: 20px;
    margin-left: 0;
}

.economic{
    margin-right: 10px;
} 

.romantic {
    margin-right: 10px;
} 

/***marseille-and-populaires***/

.marseille-and-populaires {
    width: 100%;
    flex-direction: column-reverse;
}

/***populaires***/

.populaires {
    width: 100%;
    border-radius: 0;
    padding: 30px 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.populaires-title {
    width: 87.7%;
}

.populaires h2 {
    font-size: 1.37rem;
}

.populaires-cards {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.populaires-cards .card {
   margin-top: 0;
}

.populaires-cards a {
    width: 87.7%;
    padding-top: 15px;
}

/***marseille***/

.marseille {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 0 35px 0;
    background-color: white;
}

.marseille-title {
    width: 90%;
}

.marseille h2 {
    font-size: 1.37rem;
}

.marseille-cards {
    flex-direction: column;
    width: 95%;
}

.marseille-card {
    width: 100%;
}

.middle-marseille-card {
    margin: 0;
}

.marseille-card img {
    width: 98%;
}

.calanques {
    margin-right: 0;
}

.marseille-foot {
    width: 90%;
}

/***activities***/

.activities {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 35px;
}

.activities-title {
    width: 82.5%;
}

.activities h2 {
    font-size: 1.37rem;
}

.activities-cards {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.activities-card {
    width: 82.5%;
    height: 12.5rem;
}

.activities img {
    width: 100%;
    height: 8.813rem;
}

.la-garde {
    margin-top: 15px;
}

.calanques{
    margin-top: 15px;
}

.pomegues {
    margin-top: 15px;
}

/***footer***/

footer {
    width: 100%;
}

.footer-text {
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 86%;
    padding: 30px 0;
}

.footer-column {
    width: 19.5rem;
    align-items: flex-start;
    padding: 0 0 0 30px;
}

.nos-hebergements {
    padding: 50px 0 50px 30px;
}

.footer-line {
    height: 0;
}
/* ... */
}